body
{
color: white;
background-color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center
    padding 16;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width:  150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

footer img{
    width: 40px;
    height: 40px;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
}

.center
{
  text-align: center;  
}

.container{
    padding: 0px 50px;
}